ul.gallery {
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    box-sizing: border-box;
}

ul.gallery li {
    display: inline-block;
    border: 0.4rem solid black;
    margin: 10px;
}

ul.gallery li img {
    margin: 10px;
    width: 300px;
    vertical-align: middle;
}